.App {
  min-width: 250px;
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 1rem;
  transition: background-color 0.5s, color 0.5s;
}

.App__quoteBox {
  max-width: 500px;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.App__quoteBox--frase {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: end;
  gap: 1rem;
  line-height: 1.5rem;
}

.App__quoteBox--frase--i {
  grid-row: span 3;
  font-size: 3rem;
}

.App__quoteBox--btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  transform: translateY(-5px);
  box-shadow: 1px 14px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s, box-shadow 0.5s;
}

.App__quoteBox--btn:active {
  box-shadow: none;
  transform: translateY(0px);
}

.App__quoteBox--btn--i {
  font-size: 3rem;
  color: whitesmoke;
}

.githubCODE {
  position: fixed;
  background-color: whitesmoke;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
}
.bxl-github {
  font-size: 1.2rem;
}

.githubCODE a {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.1rem;
}
