@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
p {
  font-weight: 300;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 950px) {
  p {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}
